@import "tailwindcss";

.gradient-text {
  background: linear-gradient(
    90deg,
    #a8929b 0%,
    #8d7882 35%,
    #4a4047 70%,
    #0b0d16 100%
  );

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.hero {
  background-image: url("/assets/public/images/bg-main.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@media (max-width: 767px) {
  .hero {
    background-image: url("/assets/public/images/bg-small.svg");
  }
}
